html, body {
  margin: 0;
  padding: 0;
  font-family:"Lucida Bright","didot", "Georgia";
}

body {
  margin: 2%;
  font-size: 1.05em;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header{
  padding: 60px;
  text-align: center;
  background-color: #4667B4;
  color:white;
  font-size: 30px;
  font-family: "Audiowide", sans-serif;
}


@font-face {
    font-family: 'press_start_2pregular';
    src: url('fonts/pressstart2p-regular-webfont.woff2') format('woff2'),
         url('fonts/pressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
