html, body {
  margin: 0;
  padding: 0;
  font-family:"Lucida Bright","didot", "Georgia";
}

body {
  margin: 2%;
  font-size: 1.05em;
}

canvas {
  display: block;
}


@font-face {
    font-family: 'press_start_2pregular';
    src: url('fonts/pressstart2p-regular-webfont.woff2') format('woff2'),
         url('fonts/pressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
